.idea/.name
.idea/artifacts/sargasas.xml
.idea/artifacts/sargasas_war.xml
.idea/artifacts/sargasas_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Maven__antlr_antlr_2_7_6.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__asm_asm_3_1.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_2.xml
.idea/libraries/Maven__cglib_cglib_2_2.xml
.idea/libraries/Maven__com_beust_jcommander_1_27.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_2_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_2_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_2_2.xml
.idea/libraries/Maven__com_google_guava_guava_14_0_1.xml
.idea/libraries/Maven__com_googlecode_log4jdbc_log4jdbc_1_2.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_0_8_1.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_assert_0_8_1.xml
.idea/libraries/Maven__com_sun_faces_jsf_api_2_0_3.xml
.idea/libraries/Maven__com_sun_faces_jsf_impl_2_0_3.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javassist_javassist_3_12_0_GA.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__javax_transaction_jta_1_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_0_0_GA.xml
.idea/libraries/Maven__joda_time_joda_time_2_2.xml
.idea/libraries/Maven__joda_time_joda_time_hibernate_1_3.xml
.idea/libraries/Maven__log4j_log4j_1_2_16.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_25.xml
.idea/libraries/Maven__net_minidev_json_smart_1_1_1.xml
.idea/libraries/Maven__net_sf_dozer_dozer_5_4_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_2_5.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_2_4.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_9.xml
.idea/libraries/Maven__org_beanshell_bsh_2_0b4.xml
.idea/libraries/Maven__org_dbunit_dbunit_2_4_9.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_hibernate_hibernate_commons_annotations_3_2_0_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_3_6_10_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_3_6_10_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_4_3_0_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_0_api_1_0_1_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_17_1_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_0_CR2.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_9_5.xml
.idea/libraries/Maven__org_objenesis_objenesis_1_0.xml
.idea/libraries/Maven__org_powermock_powermock_core_1_5.xml
.idea/libraries/Maven__org_powermock_powermock_module_testng_1_5.xml
.idea/libraries/Maven__org_powermock_powermock_module_testng_common_1_5.xml
.idea/libraries/Maven__org_powermock_powermock_reflect_1_5.xml
.idea/libraries/Maven__org_primefaces_primefaces_5_2.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_6_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_5.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_3_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_3_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_crypto_3_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_3_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_3_2_3_RELEASE.xml
.idea/libraries/Maven__org_testng_testng_6_8.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_6.xml
.idea/libraries/Maven__postgresql_postgresql_8_3_606_jdbc4.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
out/artifacts/nortal/nortal.war
out/artifacts/sargasas/sargasas.war
sargasas.iml
src/main/resources/beans/database/database.xml
target/classes/beans/context/servlet-context.xml
target/classes/beans/database/database.xml
target/classes/beans/database/hibernate.cfg.xml
target/classes/beans/database/hibernate.xml
target/classes/beans/gateway/gateway.xml
target/classes/beans/properties/properties.properties
target/classes/beans/properties/properties.xml
target/classes/beans/rest/controllers.xml
target/classes/beans/rest/data-conversion.xml
target/classes/beans/security/security.xml
target/classes/beans/service/service.xml
target/classes/beans/utils/utils.xml
target/classes/log4j.xml
target/classes/lt/agmis/testproject/dao/SensorDao.class
target/classes/lt/agmis/testproject/daohibernateimpl/SensorDaoImpl.class
target/classes/lt/agmis/testproject/domain/SensorData.class
target/classes/lt/agmis/testproject/domain/SensorObject.class
target/classes/lt/agmis/testproject/dto/OperationResult.class
target/classes/lt/agmis/testproject/faces/PlanBean.class
target/classes/lt/agmis/testproject/faces/utils/CallUtils.class
target/classes/lt/agmis/testproject/restcontroller/SensorController.class
target/classes/lt/agmis/testproject/service/SensorService.class
target/classes/lt/agmis/testproject/serviceimpl/SensorServiceImpl.class
target/maven-archiver/pom.properties
target/nortal.war
target/nortal/.gitignore
target/nortal/.travis.yml
target/nortal/CONTRIBUTING.md
target/nortal/Chart.StackedBar.js
target/nortal/Chart.js
target/nortal/Chart.min.js
target/nortal/LICENSE.md
target/nortal/META-INF/MANIFEST.MF
target/nortal/README.md
target/nortal/WEB-INF/classes/beans/context/root-context.xml
target/nortal/WEB-INF/classes/beans/context/servlet-context.xml
target/nortal/WEB-INF/classes/beans/database/database.xml
target/nortal/WEB-INF/classes/beans/database/hibernate.cfg.xml
target/nortal/WEB-INF/classes/beans/database/hibernate.xml
target/nortal/WEB-INF/classes/beans/gateway/gateway.xml
target/nortal/WEB-INF/classes/beans/properties/properties.properties
target/nortal/WEB-INF/classes/beans/properties/properties.xml
target/nortal/WEB-INF/classes/beans/rest/controllers.xml
target/nortal/WEB-INF/classes/beans/rest/data-conversion.xml
target/nortal/WEB-INF/classes/beans/security/security.xml
target/nortal/WEB-INF/classes/beans/service/service.xml
target/nortal/WEB-INF/classes/beans/utils/utils.xml
target/nortal/WEB-INF/classes/log4j.xml
target/nortal/WEB-INF/classes/lt/agmis/testproject/dao/PlanDao.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/daohibernateimpl/PlanDaoImpl.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/domain/Plan.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/dto/CreateResult.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/faces/PlanBean.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/faces/utils/CallUtils.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/restcontroller/PlanController.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/service/PlanService.class
target/nortal/WEB-INF/classes/lt/agmis/testproject/serviceimpl/PlanServiceImpl.class
target/nortal/WEB-INF/lib/antlr-2.7.6.jar
target/nortal/WEB-INF/lib/aopalliance-1.0.jar
target/nortal/WEB-INF/lib/asm-3.1.jar
target/nortal/WEB-INF/lib/aspectjrt-1.6.9.jar
target/nortal/WEB-INF/lib/c3p0-0.9.1.2.jar
target/nortal/WEB-INF/lib/cglib-2.2.jar
target/nortal/WEB-INF/lib/commons-beanutils-1.8.3.jar
target/nortal/WEB-INF/lib/commons-codec-1.6.jar
target/nortal/WEB-INF/lib/commons-collections-3.2.1.jar
target/nortal/WEB-INF/lib/commons-lang-2.6.jar
target/nortal/WEB-INF/lib/commons-lang3-3.1.jar
target/nortal/WEB-INF/lib/commons-logging-1.1.1.jar
target/nortal/WEB-INF/lib/dbunit-2.4.9.jar
target/nortal/WEB-INF/lib/dom4j-1.6.1.jar
target/nortal/WEB-INF/lib/dozer-5.4.0.jar
target/nortal/WEB-INF/lib/guava-14.0.1.jar
target/nortal/WEB-INF/lib/hibernate-commons-annotations-3.2.0.Final.jar
target/nortal/WEB-INF/lib/hibernate-core-3.6.10.Final.jar
target/nortal/WEB-INF/lib/hibernate-entitymanager-3.6.10.Final.jar
target/nortal/WEB-INF/lib/hibernate-jpa-2.0-api-1.0.1.Final.jar
target/nortal/WEB-INF/lib/hibernate-validator-4.3.0.Final.jar
target/nortal/WEB-INF/lib/httpclient-4.2.5.jar
target/nortal/WEB-INF/lib/httpcore-4.2.4.jar
target/nortal/WEB-INF/lib/jackson-annotations-2.2.2.jar
target/nortal/WEB-INF/lib/jackson-core-2.2.2.jar
target/nortal/WEB-INF/lib/jackson-databind-2.2.2.jar
target/nortal/WEB-INF/lib/javassist-3.12.0.GA.jar
target/nortal/WEB-INF/lib/javassist-3.17.1-GA.jar
target/nortal/WEB-INF/lib/javax.inject-1.jar
target/nortal/WEB-INF/lib/jboss-logging-3.1.0.CR2.jar
target/nortal/WEB-INF/lib/jcl-over-slf4j-1.6.6.jar
target/nortal/WEB-INF/lib/joda-time-2.2.jar
target/nortal/WEB-INF/lib/joda-time-hibernate-1.3.jar
target/nortal/WEB-INF/lib/jsf-api-2.0.3.jar
target/nortal/WEB-INF/lib/jsf-impl-2.0.3.jar
target/nortal/WEB-INF/lib/json-path-0.8.1.jar
target/nortal/WEB-INF/lib/json-smart-1.1.1.jar
target/nortal/WEB-INF/lib/jstl-1.2.jar
target/nortal/WEB-INF/lib/jta-1.1.jar
target/nortal/WEB-INF/lib/log4j-1.2.16.jar
target/nortal/WEB-INF/lib/log4jdbc-1.2.jar
target/nortal/WEB-INF/lib/mysql-connector-java-5.1.25.jar
target/nortal/WEB-INF/lib/objenesis-1.0.jar
target/nortal/WEB-INF/lib/postgresql-8.3-606.jdbc4.jar
target/nortal/WEB-INF/lib/powermock-core-1.5.jar
target/nortal/WEB-INF/lib/powermock-module-testng-1.5.jar
target/nortal/WEB-INF/lib/powermock-module-testng-common-1.5.jar
target/nortal/WEB-INF/lib/powermock-reflect-1.5.jar
target/nortal/WEB-INF/lib/primefaces-5.2.jar
target/nortal/WEB-INF/lib/servlet-api-2.5.jar
target/nortal/WEB-INF/lib/slf4j-api-1.7.5.jar
target/nortal/WEB-INF/lib/slf4j-log4j12-1.7.5.jar
target/nortal/WEB-INF/lib/spring-aop-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-beans-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-context-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-core-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-expression-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-jdbc-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-orm-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-security-config-3.1.0.RELEASE.jar
target/nortal/WEB-INF/lib/spring-security-core-3.1.0.RELEASE.jar
target/nortal/WEB-INF/lib/spring-security-crypto-3.1.0.RELEASE.jar
target/nortal/WEB-INF/lib/spring-security-web-3.1.0.RELEASE.jar
target/nortal/WEB-INF/lib/spring-tx-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-web-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/spring-webmvc-3.2.3.RELEASE.jar
target/nortal/WEB-INF/lib/validation-api-1.0.0.GA.jar
target/nortal/WEB-INF/web.xml
target/nortal/bower.json
target/nortal/chart/.gitignore
target/nortal/chart/.travis.yml
target/nortal/chart/CONTRIBUTING.md
target/nortal/chart/Chart.StackedBar.js
target/nortal/chart/Chart.js
target/nortal/chart/Chart.min.js
target/nortal/chart/LICENSE.md
target/nortal/chart/README.md
target/nortal/chart/bower.json
target/nortal/chart/docs/00-Getting-Started.md
target/nortal/chart/docs/01-Line-Chart.md
target/nortal/chart/docs/02-Bar-Chart.md
target/nortal/chart/docs/03-Radar-Chart.md
target/nortal/chart/docs/04-Polar-Area-Chart.md
target/nortal/chart/docs/05-Pie-Doughnut-Chart.md
target/nortal/chart/docs/06-Advanced.md
target/nortal/chart/docs/07-Notes.md
target/nortal/chart/gulpfile.js
target/nortal/chart/package.json
target/nortal/chart/samples/bar.html
target/nortal/chart/samples/doughnut.color.html
target/nortal/chart/samples/doughnut.html
target/nortal/chart/samples/line-customTooltips.html
target/nortal/chart/samples/line.html
target/nortal/chart/samples/pie-customTooltips.html
target/nortal/chart/samples/pie.html
target/nortal/chart/samples/polar-area.html
target/nortal/chart/samples/radar.html
target/nortal/chart/src/Chart.Bar.js
target/nortal/chart/src/Chart.Core.js
target/nortal/chart/src/Chart.Doughnut.js
target/nortal/chart/src/Chart.Line.js
target/nortal/chart/src/Chart.PolarArea.js
target/nortal/chart/src/Chart.Radar.js
target/nortal/docs/00-Getting-Started.md
target/nortal/docs/01-Line-Chart.md
target/nortal/docs/02-Bar-Chart.md
target/nortal/docs/03-Radar-Chart.md
target/nortal/docs/04-Polar-Area-Chart.md
target/nortal/docs/05-Pie-Doughnut-Chart.md
target/nortal/docs/06-Advanced.md
target/nortal/docs/07-Notes.md
target/nortal/gulpfile.js
target/nortal/index.jsp
target/nortal/index.xhtml
target/nortal/package.json
target/nortal/samples/bar.html
target/nortal/samples/doughnut.color.html
target/nortal/samples/doughnut.html
target/nortal/samples/line-customTooltips.html
target/nortal/samples/line.html
target/nortal/samples/pie-customTooltips.html
target/nortal/samples/pie.html
target/nortal/samples/polar-area.html
target/nortal/samples/radar.html
target/nortal/sargasas.xhtml
target/nortal/src/Chart.Bar.js
target/nortal/src/Chart.Core.js
target/nortal/src/Chart.Doughnut.js
target/nortal/src/Chart.Line.js
target/nortal/src/Chart.PolarArea.js
target/nortal/src/Chart.Radar.js
